<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>李志立CMS</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
	<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" />
  </head>
  <body>
	 <div class="container" style="margin-top: 80px">
	 	<div class="jumbotron">
			<div >
				<img src="/static/cmslogo.png" >
			</div>
			
			<div style="margin-bottom: 25px;">
				<h3 style="font-weight: 600;">恭喜你环境配置正确，请按如下操作：</h4>

				<h4 style="padding-left: 15px ;">1,修改伪静态</h5>
				<h4 style="padding-left: 15px ;">2,创建数据库</h5>
				<h4 style="padding-left: 15px ;">3,导入数据库</h5>
			</div>
	 		<form action=""  method="post">
	 		  <div class="form-group">
	 		    <label for="l1">数据库名称</label>
	 		    <input type="text" name="database" class="form-control" id="l1" placeholder="请输入数据库名称">
	 		  </div>
	 		  <div class="form-group">
	 		    <label for="l2">用户名称</label>
	 		    <input type="text" name="username" class="form-control" id="l2" placeholder="请输入用户名">
	 		  </div>
	 		  <div class="form-group">
	 		    <label for="l3">密码</label>
	 		    <input type="text" name="password" class="form-control" id="l3" placeholder="请输入密码">
	 		  </div>
	 		  <button type="submit" class="btn btn-primary">提交</button>
	 		</form>
	 	</div>
	 </div>
	 <script type="text/javascript">
		$(function () {
			$('form').bootstrapValidator({
				message: 'This value is not valid',
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					database: {
						message: '数据库名称验证失败',
						validators: {
							notEmpty: {
								message: '数据库名称不能为空'
							}
						}
					},
					username: {
						message: '用户名验证失败',
						validators: {
							notEmpty: {
								message: '用户名不能为空'
							}
						}
					},
					password: {
						message: '密码验证失败',
						validators: {
							notEmpty: {
								message: '密码不能为空'
							}
						}
					},
				}
			});
		});
	 </script>
  </body>
</html>